
@{
    /**/

    ViewBag.Title = "ForgotPassword";
    Layout = "~/Views/Shared/_MyLayout.cshtml";
}

<!DOCTYPE html>
<html lang="zxx">

<!-- Mirrored from fvdthemes.com/html/yeahkids/reset_password.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 17 Feb 2020 17:57:31 GMT -->
@using (Html.BeginForm("ForgotPassword", "Login", htmlAttributes: new { id = "forgotpassform" }, method: FormMethod.Post))
{
    <body>



        

        <section id="authorization_page" class="authorization_page">
            <div class="container">
                <div class="row">
                    <div class="col-md-1"></div>
                    <div class="col-md-10 dot">
                        <h2 class="section-title">Forgot Password</h2>
                        <p class="section-description">
                            Please enter the email address associated with your account.<br>
                            We’ll send you a link to reset  your password.
                        </p>
                    </div>
                    <div class="col-md-1"></div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <DIV ALIGN="CENTER">
                            <div class="text-success">
                                <h1> @ViewBag.Message</h1>
                            </div>
                            <div class="reg_box">
                                @Html.TextBox("Email", "", new { @class = "form-control", placeholder = "Your email for verification*" , style = "width: 350px"})
                            </div>
                            <button class="button" type="submit" onclick="return confirm('Verify your email')" >Submit</button>

                        </DIV>
                    </div>
            </div>
        </section>

        <!--End JS -->


    </body>
}
<!-- Mirrored from fvdthemes.com/html/yeahkids/reset_password.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 17 Feb 2020 17:57:31 GMT -->
</html>


