@model Solution.Web.Models.EventModel
@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<body>
    <section id="blog_page" class="blog_page">
        <div class="container">
            <div class="row">
                <div class="col-md-9">
                    <div class="blog_block">
                        <h3 class="blog_title">Children take care of nature</h3>
                        <div class="row blog_info">
                            <div class="col-md-2 col-sm-2 col-xs-12 pr_0">
                                <div class="date">
                                    <ul>
                                        <li class="number">21</li>
                                        <li class="date_month">dec<br>2017</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-3 col-xs-12 prpl_0">
                                <div class="author">
                                    <ul>
                                        <li class="title">Posted by</li>
                                        <li class="description"><a href="#">Rachel Brown</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-7 col-sm-7 col-xs-12 pl_0">
                                <div class="tag">
                                    <ul>
                                        <li class="title">Tags</li>
                                        <li class="description"><a href="#">Education</a>, <a href="#">Event</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="blog_block_img wow fadeIn">
                            @{string path = "~/Content/Uploads/" + @Html.DisplayFor(model => model.image);}

                            <img src="@Url.Content(path)" alt="">
                        </div>
                        <div class="blog_brief content">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                            <p><strong>Kindergarten and elementary school teachers prepare younger students for future schooling by teaching them basic subjects such as math and reading.</strong> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                            <ul>
                                <li>Excepteur sint occaecat cupidatat non proident, </li>
                                <li>sunt in culpa qui officia deserunt mollit anim id est laborum. </li>
                                <li>Sed ut perspiciatis unde omnis iste natus error </li>
                                <li>sit voluptatem accusantium doloremque laudantium, </li>
                            </ul>

</body>