@model IPagedList<Solution.Domain.Entities.User>

@{
    ViewBag.Title = "ListDesParticipantparEven";
}
@using PagedList.Mvc;
@using PagedList;

    <body>
        @foreach (var item in Model)
        {

            <div class="drawing col-md-3 col-sm-4 portfolio_grid_item wow fadeInUp">
                <div class="events">
                    <div class="teacher_block grey_block">
                        <div class="teacher_avatar">
                            <img src="~/Content/Uploads/nonvalid.jpg" alt="">
                        </div>
                        <div class="teacher_about">
                            <h3>
                                <a href="teacher.html">First Name : @Html.DisplayFor(modelItem => item.nom)</a>
                                <br />
                                <a>  LastName : @Html.DisplayFor(modelItem => item.prenom) </a>
                                <br />

                                <span>Mail : @Html.DisplayFor(modelItem => item.email)</span>
                                <br />
                                <br />
                            </h3>
                            <div class="teacher_link social_icon t_green_dark">

                                <ul>
                                    <li>
                                        <a href="#"><i class="fa fa-facebook"></i></a>
                                        <a href="#"><i class="fa fa-twitter"></i></a>
                                        <a href="#"><i class="fa fa-linkedin"></i></a>
                                    </li>
                                </ul>
                            </div>

                        </div>
                        <h1><a href="/Event/Index">Back To Event List</a></h1>

                    </div>
                </div>
            </div>
        }



        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
    </body>
