
@{
    ViewBag.Title = "Dashboard";
       
}
    <div class="container">
        <div class="row">
            <div class="col-md-9">                
                <div class="shop_block">                   
                </div>
            </div>
            <div class="col-md-4" style="border-left:medium">
                <div class="sidebar">
                    <div class="categories b_green">
                        <h4 class="title">My profile</h4>
                        <ul>
                            <li><a href="@Url.Action("indexfront","Claim")">My claims</a></li>                            
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />