@model Solution.Web.Models.ReputationModel

@{
    ViewBag.Title = "Create";
}



<section id="authorization_page" class="authorization_page">
    <div class="container">
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10 dot">
                <h2 class="section-title">Create reputation</h2>
            </div>
            <div class="col-md-1"></div>
        </div>
        <div class="row">
            <div class="col-md-12">
                @using (Html.BeginForm("Create", "reputation", htmlAttributes: new { id = "createform" }, method: FormMethod.Post))
                {
                    @Html.AntiForgeryToken()

                    <div class="reg_box">
                        @Html.TextBoxFor(model => model.Name, new { @class = "form-control", @placeholder = "Name" })

                        @Html.TextBoxFor(m => m.Description, new { @class = "form-control", @placeholder = "Description" })

                    </div>

                    <button class="button" type="submit" value="Create">Create</button>
                }
                <script>
                                var form = document.getElementById('createform');

                                function myFunction() {
                                    if (form.checkValidity()) {
                                        alert("Your claim was successufully created");
                                    }
                                }
                </script>
            </div>
        </div>
    </div>

</section>
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />

