@model Solution.Web.Models.ReputationModel

@{
    ViewBag.Title = "Edit";
}
<body>
    <section id="authorization_page" class="authorization_page">
        <div class="container">
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-10 dot">
                    <h2 class="section-title">Update reputation</h2>
                </div>
                <div class="col-md-1"></div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    @using (Html.BeginForm("Edit", "Reputation", htmlAttributes: new { id = "createform" }, method: FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()

                        <div class="reg_box">
                            @Html.TextBoxFor(model => model.Name, new { @class = "form-control", @placeholder = "Reputation name" })
                            @Html.TextAreaFor(model => model.Description, new { @class = "form-control",rows = "5", cols = "3" , @placeholder = "Description" })

                           

                        </div>

                        <button class="button" type="submit" value="Create">Update</button>
                    }
                    <script>
                                var form = document.getElementById('updateform');

                                function myFunction() {
                                    if (form.checkValidity()) {
                                        alert("Your reputation was successfully updated");
                                    }
                                }
                    </script>
                </div>
            </div>
        </div>

    </section>


</body>
<br />
<br />
<br />
<br />
<br />
<br />
<br />

<br />
<br />
<br />
